/*  Clear all image aligns and center align  */

main figure[style*="float"],
.alignleft,
.alignright,
.aligncenter {
	display: block;
	float: none !important;
	text-align: center;
	margin: 0 auto !important;
}