/*
 *  Content width
 *
 */

header #logo, header nav,
#content,
body.home main,
.widgets_front .widgets,
footer {
	width: 90%;
}

/*
 *  Header
 *
 */

#navi {
	font-size: 90%;
}

/*
 *  Main content area
 *
 */

#content {
	display: flex;
}
	main {
		flex: 68;
	}
		body.home #content {
			display: block;
			border-radius: 0;
		}
		body.home main {
			margin: 0 auto;
			padding-right: 0;
			padding-left: 0;
		}
	aside {
		flex: 32;
		margin-left: 2em;
	}

/*
 *  Navigation
 *
 */

.navigation.nd .menu li a {
	padding: 0.5em 15px;
}

/*
 *  Widget areas
 *  We use flex because it works with unknown column counts
 *
 */

.widgets_flex .widgets {
	display: flex;
}
	.widgets_flex .widget {
		float: left;
		width: 25.1%;

		box-sizing: border-box;
		flex-grow: 1;

		padding: 0 1.5em;

		border-right: 1px dotted rgba( 0, 0, 0, 0.2 );
	}
		.widgets_flex .widget:first-child {
			padding-left: 0;
		}
		.widgets_flex .widget:last-child {
			border-right: none;
			padding-right: 0;
		}
		.widgets_flex .widget p:last-child {
			margin-bottom: 0;
		}

/*
 *  Templates
 *
 */

/*  Featured image  */

.post-thumbnail {
	float: right;
	margin: -1em 0 2em 2em;

	max-width: 50%;
	height: auto;
}
	body.home .post-thumbnail img {
		max-height: unset;
	}


/*  Featured image on front page  */

body.home .post-thumbnail {
	margin: 2em 0 2em 6em;
	max-height: unset;
}


/*  List in columns  (TinyMCE)  */

ul.columnlist {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
}