.column-taxonomy-release {
	width: 5em;
}

body.post-type-release_link #post-body-content,
body.post-type-release_link #save-action,
body.post-type-release_link #preview-action,
body.post-type-release_link .misc-pub-post-status,
body.post-type-release_link .misc-pub-visibility {
	display: none;
}

body.post-type-download_mirror #post-body-content,
body.post-type-download_mirror #save-action,
body.post-type-download_mirror #preview-action,
body.post-type-download_mirror .misc-pub-post-status,
body.post-type-download_mirror .misc-pub-visibility {
	display: none;
}