body {
	padding-top: 0.3em;
}

#logo {
	max-width: 100%;
/*	max-width: 90%; */
	padding: 0;
	margin: 0;
}

#logo img {
	max-width: 80%;
	height: auto;
	padding: 0.7em;
	margin-left: 5%;
}

#horizontal_navi ul.menu .menu-item-has-children,
#sidebar ul.menu .menu-item-has-children {
	float: left;
	clear: none;
	width: 100%;
}

	#horizontal_navi ul.menu .menu-item-has-children:nth-child(5n+3),
	#horizontal_navi ul.menu .menu-item-has-children:nth-child(5n+4),
	#sidebar ul.menu .menu-item-has-children:nth-child(5n+3),
	#sidebar ul.menu .menu-item-has-children:nth-child(5n+4) {
		margin: 0;
		padding: 0;
		background-color: transparent;
	}

	#horizontal_navi ul.menu .menu-item-has-children:nth-child(even),
	#sidebar ul.menu .menu-item-has-children:nth-child(even) {
		margin: 0 -1.5em 1em -1.5em;
		padding: 1.5em 1.5em 0 1.5em;

		background-color: #eee;
	}

/*  Front page  */
body.home h1 {
	font-size: 140%;
}

body.home p {
	font-size: 90%;
}

/*  Templates  */

ul.columnlist {
	-moz-column-gap: 0;
	-webkit-column-gap: 0;
	column-gap: 0;

	-moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;
}