html {
	background-image: none;
}

body {
	padding-bottom: 0.3em;
}

#wpcontent, #header, #wpfooter {
	width: 100%;
	border-radius: 0;
}

#mainwrap {
	padding: 1.5em;
}

#horizontal_navi,
#sidebar.sidebar-main {
	margin: 0 1.5em;
}

	#horizontal_navi ul.menu .menu-item-has-children,
	#sidebar ul.menu .menu-item-has-children {
		float: left;
		clear: none !important;
		width: 50%;
	}

	#horizontal_navi ul.menu .menu-item-has-children:nth-child(2n+1),
	#sidebar ul.menu .menu-item-has-children:nth-child(2n+1) {
		clear: left;
	}

	#horizontal_navi ul.menu li a,
	#sidebar ul.menu li a {
		width: 100%;
	}

#wpfooter {
	padding: 0;
}
	#wpfooter .widgets div {
		margin: 1em 1.5em 0 1.5em;

		font-size: 95%;
		line-height: 1.3em;
	}

/*  Front page  */
#sticky {
	margin: 0 1.5em;
}

	#sticky div.widget {
		float: left;
		clear: both;
		width: 100%;
	}
		#sticky div.widget div.content {
			margin: 0 !important;
		}

#sidebar {
}
	#sidebar.sidebar-front .ps_wrap img {
		border-radius: 0;
	}

#browse .left-column,
#browse .right-column {
	width: 100%;
}

/*  Templates  */
#mainwrap {
	max-width: 100% !important;
	padding: 0;
}

	#main {
		max-width: 100%;
		margin: 1.5em;
		padding-right: 1.5em;
	}
		
		#main .post-post {
			max-width: 100%;
		}

		#main figure,
		#main figure img,
		#main img {
			max-width: 100%;
			height: auto;

			padding: 0;
			margin: 0;
		}
		#main figure figcaption {
			margin-right: 0;
		}

ul.columnlist {
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
	column-gap: 1em;

	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}

#browse .left-column li a {
	width: 100%;
}

.hb {
	margin-right: -1.5em;
	margin-left: -1.5em;
	padding: 1em 1.3em 1em 1.3em;

	font-size: 100%;
}

/*  WordPress admin bar */
#wpadminbar, #wp-toolbar {
	display: none;
}

body.admin-bar {
	margin-top: -46px !important;
}