/*  For screen sizes less than 1000px wide  */

#wpcontent, #header, #wpfooter {
	min-width: 0;
}

#main {
	margin-right: 0 !important;
}

/*  Imitate the #horizontal_navi style  */

#sidebar.sidebar-main {
	float: none;
	clear: both;

	margin: 0 2.5em;
	padding: 1em 0 0 0 !important;
	width: auto; 

	border-radius: 0 !important;

	background-color: transparent !important;
	border-top: 1px solid #ccc;
}

	#horizontal_navi ul.menu .menu-item-has-children,
	#sidebar ul.menu .menu-item-has-children {
		float: left;
		width: 33.33%;
	}

	#horizontal_navi ul.menu .menu-item-has-children:nth-child(3n+1),
	#sidebar ul.menu .menu-item-has-children:nth-child(3n+1) {
		clear: left;
	}

/*  Front page  */
body.home h1 {
	width: auto;

	margin: -20px 0 0.5em 0;
	padding: 0.9em 0.7em 0.7em 0.7em;

	border-top-right-radius: 0;
	border-bottom-left-radius: 14px;
}

#sidebar.sidebar-front {
	width: 100%;
	margin: 0 0 2em 0;
	float: left;
}
	#sidebar.sidebar-front .ps_wrap {
		max-width: 100% !important;
		margin: 0 auto;

		/* height: auto !important; */
	}
	#sidebar.sidebar-front .ps_wrap li {
		max-width: 100% !important;
		height: auto;
	}
		#sidebar.sidebar-front .ps_wrap img {
			max-width: 100% !important;
			height: auto;
		}

#sticky {
}
	#sticky div.widget {
		float: left;
		clear: none;
		width: 50%;
	}
		#sticky div.widget:nth-child(2n+1) {
			clear: both;
		}

		#sticky div.widget:nth-child(2n+1) div.content {
			margin: 0 0.35em 0 0;
		}
		#sticky div.widget:nth-child(2n+2) div.content {
			margin: 0 0 0 0.35em;
		}
