@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;

	src: local('Open Sans'), local('OpenSans'), url('fonts/opensans-rg.woff2') format('woff2');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;

	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(fonts/opensans-sb.woff2) format('woff2');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;

	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/opensans-bd.woff2) format('woff2');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: normal;

	src: local('Open Sans Italic'), local('OpenSans-Italic'), url(fonts/opensans-it.woff2) format('woff2');
}
