/*  For screen sizes less than 1000px wide  */

#content, #header, #footer,
#navi, #content_gallery,
body.home #main, .widgets_outer .widget {
	min-width: 0;
}

#logo {
	margin: 1.2em 0;
}

/*  Templates  */
#archive-posts span.post-time,
#archive-posts a {
	display: block;
	width: 100% !important;
}

#archive-posts span.post-time {
	color: #777;
}

/*  Horizontal navigation  */
.navigation.nh .menu {
	overflow: hidden;
   flex-wrap: wrap;
}
	.navigation.nh .menu .menu-item-has-children {
		float: left;
		width: 31% !important;
		margin-bottom: 2em;
	}
		.navigation.nh .menu .menu-item-has-children:nth-child(1n+5) {
			margin-right: 2%;
			border-right: 1px solid rgba( 0, 0, 0, 0.10 );
		}
		.navigation.nh .menu .menu-item-has-children:nth-child(3n+3) {
			margin-right: 0;
			border-right: none;
		}

		/* If a menu in the first or second column is the last one,
		 * fill the rest of the space to keep preferred alignment
		 */
		.navigation.nh .menu .menu-item-has-children:last-child:nth-child(3n+1) {
			margin-right: 71%;
			border-right: none;
		}
		.navigation.nh .menu .menu-item-has-children:last-child:nth-child(3n+2) {
			margin-right: 34%;
			border-right: none;
		}