html {
	background-image: none;
}

body {
	padding-bottom: 0.3em;
}

/*
 *  Content width
 *
 */

header #logo, header nav,
#content,
footer {
	width: 100%;
	border-radius: 0;
}

/*
 *  Header
 *
 */

header {
	z-index: 5000;

	background-image: none !important;
	border-top: none;
}
	header::after {
		display: none;
	}
	/*  Fixed positioning on scroll  */
	header.scrolled {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
		header.scrolled #navi {
			width: 100%;
			position: fixed;
			left: 0;
			z-index: 50000;
		}

	#logo {
		margin: 0;
		padding: 0.5em 3.5%;
	}
		#logo a img {
			display: none;
		}
		/* Show a compact version of the Xubuntu logo */
		#logo a:after {
			font-size: 120%;
			font-weight: 600;

			padding-right: 30px;

			background: transparent url(images/xubuntu-icon-20.png) 100% 50% no-repeat;
			content: "Xubuntu";

			color: #fff;
		}

	#navi {
		font-size: 90%;

		background-color: #0e82d0;
	}
		nav#navi_quick {
			display: block !important;

			padding: 0.5em 40px 0.5em 3.5%;
			background-color: rgba( 0, 0, 0, 0.2 );
			border-top: 1px solid rgba( 255, 255, 255, 0.2 );
		}
			nav#navi_quick li {
				font-size: 90%;
				display: inline;
			}
			nav#navi_quick a {
				display: inline;
				margin-right: 1em;

				color: #fff;
				font-weight: 600;
				white-space: nowrap;
			}

		#navi.open .navigation.nd .menu li.current-menu-ancestor-hidden .sub-menu { display: none; }
		#navi.open .navigation.nd .menu li { display: block; }

		#navi .navigation.nd > ul > li {
			background-color: rgba( 255, 255, 255, 0.25 );
		}
		#navi li.menu-item-has-children .expand {
			display: none;

			position: relative;
			right: 3.5%;
			top: 0;

			float: right;
			z-index: 2000;

			height: 32px;
			width: 32px;
			padding: 0;
			margin-right: -4px;

			background: transparent url(images/menu_arrow.png) 50% 50% no-repeat;
		}
			#navi.open li.menu-item-has-children .expand {
				display: block;
				transition: 200ms transform;
			}
		#navi .open-sub .sub-menu {
			display: block !important;
			margin: 0;
			padding: 0;
		}
		#navi .open-sub li.menu-item-has-children .expand {
			transform: rotate( -90deg );
			background-size: 65% 65%;
		}


		/* Button to open hidden dropdown navigation */
		#opennavi {
			position: absolute;
			z-index: 2000;

			display: block;
			float: right;

			top: 0.15em;
			right: 2.5%;

			width: 2.8em;
			height: 2.8em;

			overflow: hidden;

			background: transparent url(images/menu.png) 50% 50% no-repeat;
		}

/*
 *  Main content area
 *
 */

section#middle {
	padding: 0;
}
	body.home #content,
	#content {
		padding: 1em 3.5%;
	}

/*
 *  Footer
 *
 */

footer {
	padding: 0 3.5%;
}

/*
 *  Navigation
 *
 */

/*  Navigation, dropdown  */

.navigation.nd {
	border-left: none;
	margin-bottom: -1px;
}
	.navigation.nd .menu {
		border-top: 1px solid rgba( 0, 0, 0, 0.2 );
	}
		.navigation.nd .menu li {
			display: none;

			float: none;
			width: 100%;
			height: auto;

			position: static;
		}
			.navigation.nd .menu li.open { display: block; }

			.navigation.nd .menu li a {
				padding: 0.5em 3.5%;
			}
			.navigation.nd .menu > li {
				border: none;
				border-top: 1px solid rgba( 255, 255, 255, 0.2 );
				border-bottom: 1px solid rgba( 0, 0, 0, 0.2 );
			}
				.navigation.nd .menu > li:hover > a {
					padding-bottom: 0.5em;
					background: none;
				}
				.navigation.nd .menu > li.menu-item-has-children:hover > a {
					background: none;
				}

			.navigation.nd .menu .sub-menu {
				position: static;
				border-radius: 0;
				width: 100%;

				background-color: #fff !important;
			}
				.navigation.nd .menu li:hover .sub-menu {
					display: none;
				}

				.navigation.nd .menu li.current_page_ancestor:hover .sub-menu,
				.navigation.nd .menu li.current_page_ancestor .sub-menu {
					display: block;
					position: static;
					margin: 0;
					padding: 0;
				}
					.navigation.nd .menu li .sub-menu:after {
						content: "";
						display: block;
						height: 0;
						clear: both;
						visibility: hidden;
					}
					.navigation.nd .menu li .sub-menu li {
						float: left;
						display: block;
						width: 50%;
						margin: 0 !important;
					}
						.navigation.nd .sub-menu li:first-child {
							padding-left: 0;
						}
						.navigation.nd .menu li .sub-menu li a {
							display: block;
							padding: 0.25em 7%;
						}

/*  Navigation, horizontal  */

.navigation.nh .menu > li {
	width: 34% !important;
}
	.navigation.nh .menu > li:nth-child(odd) {
		padding-left: 0;
		border-right: 1px solid rgba( 0, 0, 0, 0.10 ) !important;
	}
	.navigation.nh .menu > li:nth-child(even) {
		padding-left: 1.5em;
		border-right: none;
	}

	/* If a menu in the first column is the last one,
	 * fill the rest of the space to keep preferred alignment
	 */
	.navigation.nh .menu > li:last-child:nth-child(3n+1),
	.navigation.nh .menu > li:last-child:nth-child(3n+2) {
		margin-right: 0;
	}

/*
 *  Widget areas
 *
 */

.widgets_front .widgets {
	width: 93%;
}

/*
 *  Templates
 *
 */

/*  Featured image  */
.post-thumbnail {
	display: block !important;
	max-width: 100%;
	width: 100%;
	margin: 0 0 1em 0;
	text-align: center;
}
	.post-thumbnail img {
		max-height: 120px;
		width: auto;
	}

/*  Featured image in a gallery  */

.featured {
	width: 95%;
	margin: 0 auto;
}

/*
 *  Common
 *
 */

/*  Aligned images  */

main figure[style*="float"],
.alignleft,
.alignright,
.aligncenter {
	/*  Clear all floats and center-align  */
	display: block;
	float: none !important;
	text-align: center;
	margin: 0 auto !important;
}

/*  Elements  */

blockquote {
	max-width: 90%;
}

figure {
	width: 100% !important;
	text-align: center;
}
	#content figure a {
		max-width: 100% !important;
	}
	.gallery figure {
		width: 100%; !important;
		padding: 0;
		margin: 0;
	}

main figure,
main figure img,
main img {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}


/*  List in columns  */

ul.columnlist {
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
	column-gap: 1em;

	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}

/*  Section highlighting  */

.hb {
	padding: 5px 20px;
}
