/*
 *  Header
 *
 */

#navi {
	font-size: 82%;
}

/*
 *  Main content area
 *
 */

#content {
	display: block;
}
	#content aside {
		margin-top: 2em;
		margin-left: 0;
	}

/*
 *  Footer
 *
 */

footer {
	overflow: hidden;
}

/*
 *  Navigation
 *
 */

.navigation.nd .menu > li > a {
	padding-left: 0.75em;
	padding-right: 0.75em;
}

/*
 *  Widget areas 
 *
 */

.widgets_flex .widgets {
	display: block;
}
	.widgets_flex .widget {
		width: 100% !important;
		margin: 0 !important;
		border: none !important;
		padding: 1.5em 0 !important;

		border-bottom: 1px dotted rgba( 0, 0, 0, 0.2 ) !important;
	}
		.widgets_flex .widget :last-child {
			margin-bottom: 0;
		}
		.widgets_flex .widget:first-child {
			padding-top: 0 !important;
		}
		.widgets_flex .widget:last-child {
			border-bottom: none !important;
			padding-bottom: 0 !important;
		}

/*
 *  Templates
 *
 */

/*  Featured image  */

.post-thumbnail {
	max-width: 50%;
}

/*  Featured image in a gallery  */

.featured {
	margin-bottom: 0.5em;
}
	.featured .image,
	.featured .description {
		width: 100%;
		float: none;
	}

	.featured .image {
		text-align: center;
	}
		.featured .image img {
			float: none;
			margin: 0 auto;
		}

	.featured .description {
		margin-top: 1em;
	}
